.seccion_usuarios{
    max-width: 1200px;
    margin: 30px auto;
    padding: 24px;
    min-height: 400px;
    border-radius: 20px;
    max-width: 1200px;

    display: grid;
}
.titulo_usuarios{
    margin-bottom: 16px;
    color: black;
    font-weight: 700;
    
}
.contenedor_usuarios{
    flex-wrap: wrap;
    gap: 14px;
    vertical-align: top;
    border: 3px red dotted;
}

@media (min-width:768px){
    .seccion_usuarios{
        width: 740px;
    }
}

@media (min-width:992px){
    .seccion_usuarios{
        width: 970px;
    }
}

